header {
  height: 75px;
  background-color: #ecf0f1 !important;
  min-width: 300px;
  position: fixed;
  width: 100%;
  z-index: 2;
  align-items: center;
  display: flex;
  padding-left: 5px;
  box-shadow: 0 0 2px 0 #696969;
}

.logo-sec {
  display: inline-block;
  width: 70%;
  flex: 0 0 70%;
}

.user-info-sec {
  display: inline-block;
  width: 30%;
  flex: 0 0 30%;
}

.app-logo {
  padding: 0;
  height: 60px;
  float: left;
  max-width: 300px;
}

.fa-bars {
  width: 55px;
  height: 40px;
  font-size: 41px;
  padding: 7px 7px 0 0;
  text-align: center;
  margin: 8px 0;
  color: cadetblue;
  background-color: transparent;
}

.fa-sign-out-alt {
  width: 46px;
  height: 30px;
  color: cadetblue;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}

.dropdown {
  position: relative;
  display: none;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1%;
  background-color: cadetblue;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  padding: 10px 16px;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  border-radius: 0 0 5px 5px;
}

.dropdown-content b {
  display: block;
  margin: 10px;
}

.logged-user-detail {
  display: block;
  position: relative;
  float: right;
  font-size: 20px;
}

.dropdown-content p {
  padding: 10px 16px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.heading {
  color: #2c3e50;
  width: 70%;
  font-size: 2rem;
}

.dropdown-content a:hover {
  background-color: rgb(129, 129, 129);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 678px) {
  .dropdown {
    display: block;
  }

  .heading {
    font-size: 24px;
  }

  .logged-user-detail {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 329px) {
  .heading {
    font-size: 16px;
  }
}
