<h1>Pagination</h1>

<ul>
    <a href="#" id="pg-first-page" [ngClass]="{'pg-nav-disable': currentPage <= 1}" (click)="pageClick(1)">
        <li> << </li>
    </a>
    <a href="#" id="pg-prev-page" [ngClass]="{'pg-nav-disable': currentPage <= 1}" (click)="pageClick(currentPage-1)">
        <li> < </li>
    </a>
    <a href="#" *ngFor="let pageNumber of pageNumberArray" (click)="pageClick(pageNumber)">
        <li [ngClass]="{'pg-current-page': currentPage == pageNumber}">
            {{ pageNumber }}
        </li>
    </a>
    <a href="#" id="pg-next-page" [ngClass]="{'pg-nav-disable': currentPage >= totalPages}" (click)="pageClick(currentPage+1)">
        <li> > </li>
    </a>
    <a href="#" id="pg-last-page" [ngClass]="{'pg-nav-disable': currentPage >= totalPages}" (click)="pageClick(totalPages)">
        <li> >> </li>
    </a>
</ul>