mat-form-field{
    width: 100%;
    margin-bottom: 15px;
}

#Login{
    margin: 20vh auto;
    width: 50%;
    height: 40%;

    min-height: 300px;

    max-width: 600px;
    min-width: 300px;
}

@media screen and (max-height: 715px){
    #Login{        
        margin: 15vh auto;
    }
}

@media screen and (max-height: 607px){
    #Login{        
        margin: 12vh auto;
    }
}