.fa-plus-circle {
  position: fixed;
  bottom: 65px;
  right: 3%;
  color: #60b6c7;
  width: 55px;
  height: 50px;
  z-index: 2;
  font-size: 55px;
}

.book-col {
  height: calc(100vh - 125px);
  overflow: auto;
}

#favBooks {
  height: calc(47vh - 9vw);
  min-height: 320px;
}

.allBooksList {
  height: 70vh;
  width: 95%;
  padding-right: 1%;
  margin: auto;
  overflow: hidden;
  padding-top: 10px;
}

.allBooksList:hover {
  overflow: auto;
}

@media screen and (max-width: 300px) {
  .fa-plus-circle {
    right: 0;
    left: 5px;
  }
}

@media screen and (max-width: 575px) {
  #allbooks {
    height: calc(57vh - 13vw);
  }

  .allBooksList {
    height: calc(38vh - 10vw);
  }
}

.mat-form-field {
  width: 100%;
}

#search-field {
  background-color: rgb(236, 240, 241);
  margin-bottom: 0;
  padding: 0 5px 0 5px;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(107, 79, 39);
}
