<div class="container-fluid main-content">
    <div class="row">
        <div id="allbooks" class="col-sm-5 book-col">
            <h2>Books In Store</h2>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="searchText" matInput placeholder="Search Books">
            </mat-form-field>
            <div class="allBooksList">
                <app-book-list [books]="bookList" [query]="searchText"></app-book-list>
            </div>
        </div>
        <div class="col-sm-7 book-col">
            <div id="favBooks">
                <app-favourite-book-list [isFavAvail]="isFavAvail" [favBooks]="favouriteBooks"></app-favourite-book-list>
            </div>
            <p-chart id="analytics-chart" type="horizontalBar" [data]="data" width="55vw" height="40vh"></p-chart>
        </div>
    </div>
    <div class="modal fade" id="bookModal" tabIndex="-1" role="dialog" aria-labelledby="addBookModal" aria-hidden="true">
        <p-toast></p-toast>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header heading">
                    <h5 class="modal-title" id="addBookModal">Add Book</h5>
                </div>
                <div class="modal-body">
                    <app-addbook></app-addbook>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <i class="fas fa-plus-circle" data-toggle="modal" data-target="#bookModal"></i>
</div>