<div class="row">
  <div class="col-md-12">
      <div class="form-groudp">
          <textarea [(ngModel)]="newComment" placeholder="Please enter your comments"></textarea>
      </div>
      <button (click)="AddComment(bookId)">Add Comment</button>
  </div>

  <div class="col-md-12">
      <div class="list-group">
          <li class="list-group-item" *ngFor = "let comment of comments">
            <div>
                <h4>{{comment.username}}</h4>
            </div>
            <div>
                <p>{{comment.description}}</p>
                <small>Commented At: {{comment.commentedAt}}</small>
            </div>
        </li>

      </div>
  </div>
</div>

